bertopic
contextualized_topic_models
gensim
iteration_utilities
jedi
matplotlib
neattext
nltk
numpy
pandas
pyLDAvis
pymongo[srv]
python-decouple
requests
requests-cache
seaborn
sentence_transformers
spacy
tensorflow
tensorflow_hub
tensorflow_text
textblob
top2vec
top2vec[sentence_encoders]
tqdm
wordcloud